[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[packages.aws-infrastructure]
git = "https://github.com/fogies/aws-infrastructure.git"
subdirectory = "aws_infrastructure"
editable = true

################################################################################
# When co-developing aws-infrastructure, helpful to point at a branch.
################################################################################
# git = "https://github.com/<accountname>/aws-infrastructure.git"
# ref = "<branchname>"
################################################################################

[dev-packages]
pipenv = "*"

[requires]
python_version = "3.9"
