[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[packages.aws_infrastructure]
git = "https://github.com/fogies/aws-infrastructure.git"
subdirectory = "aws_infrastructure"
editable = true

################################################################################
# When co-developing aws-infrastructure, helpful to point at a branch.
################################################################################
# git = "https://github.com/<accountname>/aws-infrastructure.git"
# ref = "<branchname>"
################################################################################

[packages.scope]
git = "https://github.com/uwscope/scope-web.git"
subdirectory = "scope_shared"
ref = "release/v0.10.0"
editable = true

################################################################################
# When co-developing scope-web, helpful to point at a branch.
################################################################################
# git = "https://github.com/<accountname>/scope-web.git"
# ref = "<branchname>"
################################################################################

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.9"
